@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}

.leaflet-container {
  background: #1f2937;
}

.leaflet-popup-content-wrapper {
  background: white;
  border-radius: 0.5rem;
}

.leaflet-popup-tip {
  background: white;
}

.lebz-popup .leaflet-popup-content {
  margin: 8px;
}

.lebz-popup .leaflet-popup-content p {
  margin: 0;
}

.lebz-popup .leaflet-popup-content h3 {
  margin: 0;
}
